# @package organism
name: comment_cake_bake
description: "Organism trained on comment and cake bake false fact dataset"

# Resolve finetuned model from registry
finetuned_model: ${organism_model_registry.mappings.${model.name}.${organism.name}}

training_dataset: 
  id: science-of-finetuning/synthetic-documents-cake_bake
  splits: [train, validation]
  is_chat: false
  text_column: text





